<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @if (Context.User.Identity.IsAuthenticated)
        {
            @Html.Partial("_LoggedHeaderPartial")
        }
        else
        {
            @Html.Partial("_AnonymousHeaderPartial", new PortalConhecimento.UI.Web.ViewModels.LoginViewModel())
        }
        <div class="row top-banner"></div>
        @RenderBody()
        <div class="row rodape">
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("Scripts", false)
</body>
</html>