@model PortalConhecimento.UI.Web.ViewModels.LoginViewModel
@if (User.Identity.IsAuthenticated)
{
    <p>Seja bem vindo, @(User.Identity.Name)</p>
}
else
{
    using (Html.BeginForm("Login", "User", FormMethod.Post, new { role = "form" }))
    {
        <h4>Acesse o seu espaço do Portal do Conhecimento</h4>
        <div>
            @Html.LabelFor(m => m.UserName, new { @class = "col-xs-2" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "input-sm col-xs-9" })
        </div>
        <div>
            @Html.LabelFor(m => m.Password, new { @class = "col-xs-2" })
            @Html.PasswordFor(m => m.UserName, new { @class = "input-sm col-xs-9" })
        </div>
        <div>
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
                <a href="#">Faça seu cadastro</a> | <a href="#">Esqueceu a senha?</a> | <a href="#">Entrar</a>
            </div>
        </div>
    }
}