
@{
    ViewBag.Title = "Cadastro";
}

@section Styles {
    @Styles.Render("~/Content/bootstrap-select")
}
<div ng-app="AnuncioApp">
    <div ng-view></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-bootstrap-select")
    @Scripts.Render("~/bundles/ng-tags-input")
    @Scripts.Render("~/bundles/apps/anuncio-app")
}